.idea
.DS_Store
*.log
/data/index/
code-snippet.txt
java-code-selection.train
query.txt
query_code_json.json
/data/codesearch/
/data_*/
/model/*/
/result/*/*.txt
/src/__pycache__/
/src/runs/
/src/check_code_selection_data.py
/src/query_code_pair_get_*.py
/src/query_code_pair_search.py
